@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&family=Schibsted+Grotesk:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-schibsted: 'Schibsted Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-noto: 'Noto Sans', sans-serif;
  --font-fustat: 'Fustat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Video background covers this, but for loading */
}
